{# templates/base.html #}
{% load static %}

<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SiliCOM电脑协会</title>
    <link rel="stylesheet" href="{% static 'core/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/swiper.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/modules.css' %}">
</head>
<body>
    <!-- 公共头部导航栏 -->
    <div class="navbar">
        <ul>
            <li>
                <!-- 社团标志 -->
                <div>
                   <div class="image-container">
                       <img src="{% static 'core/images/logo.png' %}" alt="Logo">
                   </div>
               </div>
            </li>
            <li class="title">SiliCOM电脑协会</li>
            <li><a href="/" class="active">首页</a></li>
            <li><a href="/service/">义诊</a></li>
            <li><a href="/suggestion/">购机指南</a></li>
            <li><a href="/recruitment">社团招新</a></li>
            <li><a href="/introduction/">关于我们</a></li>
        </ul>
    </div>
    
    <! -- 动态内容区 -->
    <main>
        {% block content %}
        {# 子模板在此插入内容 #}
        {% endblock %}
    </main>

    <!-- 底部 -->
    <div class="footer">
        <span>东南大学silicom电脑协会</span>
    </div>
</body>
</html>